services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: mypostgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  db-service:
    build: 
      context: ./db
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - WAIT_HOSTS=postgres:5432

volumes:
  postgres_data: